* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
    margin-bottom: 0;
}

html, body, #root {
    margin: 0;
    height: 100%;
    /* font-family: sans-serif; */
    /* font-weight: bolder; */
}

.page {
    display: grid;
    grid-template-rows: 75px auto;
    height: 100%
}

/* Header styles */
.header {
    grid-row: 1;
    background-color: #C5C5C5;
}

h1.header {
    margin: 0;
    /* font-style: italic; */
    font-size: 35px;
}

/* Content styles */

.content {
    grid-row: 2;
}

.input-fields {
    width: 50%;
}

.video-player {
    position: absolute;
    right: 0px;
}

.timeline {
    position: absolute;
    bottom: 0;
    height: 325px;
    width: 100%;
    background-color: #C5C5C5;
}

.time-cursor {
    border-left: 2px solid red;
    height: 325px;
    position: absolute;
    left: 0%;
    z-index: 1;
}

.timeline-header {
    position: relative;
    height: 37.5px;
    border-bottom: #00B2A4 solid 3px;
    /* background: linear-gradient(to right, black 1px, transparent 1px);
    background-size: 6px; */
}

.ticks {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 6px;
    width: 1200px;
    background:
     repeating-linear-gradient(to right, red   0 1px, transparent 2px 50px),
     repeating-linear-gradient(to right, black 0 1px, transparent 2px 10px);

  }

.timeline-content {
    overflow: auto;
    height: 287.5px;
}

.timeline-row {
    height: 37.5px;
    display: grid;
    grid-template-columns: auto 1200px;
    border-bottom: white solid 1px;
}

.timeline-row-data {
    width: inherit;
}

.timeline-row-options {
    grid-column: 1;
    background-color: #B5B5B5;
    border-right: white solid 1px;
}

.video-stream {
    position: relative;
    background-color: #F69D33;
    border-radius: 3px;
}

.mocap-stream {
    position: relative;
    background-color: #76bd91;
    border-radius: 3px;
}
