* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
    margin-bottom: 0;
}

html, body, #root {
    margin: 0;
    height: 100%;
}

.page {
    display: grid;
    grid-template-rows: 69px auto;
    height: 100%
}

/* Header styles */
.header {
    color: white;
    grid-row: 1;
    background-color: #2000E7;
}

h1.header {
    margin: 0;
    /* font-style: italic; */
    font-size: 35px;
}

/* Content styles */

.content {
    display: grid;
    grid-row: 2;
    grid-template-rows: 400px auto;
}

.display {
    height: auto;
    grid-row: 1;

    display: grid;
    grid-template-columns: 397px auto 397px;
}

.display-side-left {
    grid-column: 1;
    height: 394px;
    background-color: #C5C5C5;
    border: #2000E7 solid 3px;
}

.export-form {
    position: relative;
    width: 100%;
    background-color: #D9D9D9;
}

.video-player {
    grid-column: 2;
    background-color: #C5C5C5;
    border: #2000E7 solid 3px;
    height: 394px;
}

.display-side-right {
    grid-column: 3;
    height: 394px;
    background-color: #C5C5C5;
    border: #2000E7 solid 3px;
}

.timeline {
    grid-row: 2;
    position: absolute;
    bottom: 0;
    width: 1440px;
    background-color: #C5C5C5;
    border: #2000E7 solid 3px;
}

.time-cursor {
    border-left: 2px solid red;
    height: 280px;
    position: absolute;
    left: 0%;
    z-index: 1000;
}

.time-cursor-text {
    left: -6px;
    top: -16px;
    position: relative;

    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-top: 20px solid #f00;
}

.timeline-header {
    position: relative;
    height: 40px;

    width: 100%;
    display: grid;
    grid-template-columns: 394px 1040px;
    border-bottom: white solid 3px;
}

.timeline-options-header {
    grid-column: 1;
}

.ticks {
    grid-column: 2;
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 6px;
    width: 1040px;
    background:
     repeating-linear-gradient(to right, #4a31e9   0 1px, transparent 5px 5%),
     repeating-linear-gradient(to right, black 0 1px, transparent 2px 1%);
  }

.timeline-content {
    overflow: auto;
    height: 280px;
}

.timeline-row {
    height: 40px;
    width: 1434px;
    display: grid;
    grid-template-columns: 394px 1040px;
    border-bottom: white solid 1px;
}

.timeline-row-data {
    grid-column: 2;
}

.timeline-row-options {
    display: grid;
    height: 37px;
    grid-column: 1;
    background-color: #B5B5B5;
    border-right: white solid 1px;
    /* grid-template-columns: 197px 197px; */
}

.timeline-row-options-naming {
    /* grid-column: 1; */
    /* height: 100%; */
}

.timeline-upload {
    display: none;
}

.timeline-row-options-buttons {
    /* display: grid; */
}

.timeline-row-button {
    border: rgb(124, 124, 124) solid 1px;
    background-color: #B5B5B5;
    font-size: small;
    /* width: auto; */
    display: inline-block;
    padding: 1px 6px;
    margin: 0px;
    float: right;
}

.timeline-row-button:hover {
    opacity: 0.5;
}

.timeline-row-button:active {
    background-color: #767676;
    box-shadow: 0 1px #666;
    transform: translateY(1px);
}

.button-sync {
    /* font-size: 0.8em; */

    background-color: rgb(124, 124, 124);
}

.video-stream {
    opacity: 0.8;
    position: relative;
    background-color: #F69D33;
    border-radius: 3px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.mocap-stream {
    opacity: 0.8;
    position: relative;
    background-color: #76bd91;
    border-radius: 3px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.annotations {
    position: relative;
}

.annotation {
    opacity: 0.8;
    position: absolute;
    height: 38px;
    background-color: #bf33f6;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.annotation-unfinished {
    position: sticky;
    background-color: #250531;
    width: 3px;
    height: 38px;
}
